#contact {
  padding-bottom: 10rem 0;
  padding-top: 10rem 0;
  /* background-color: #03615b; */
  font-size: 40px;
  color: #03615b;
}

.cont {
  /* background-color: #03615b; */
  font-size: 70px;
}

.contacts {
  color: #03615b;
  padding-bottom: 30px;
  padding-top: 30px;
}

.bar{
  /* height: 30px; */
  padding-top: 100px;
  padding-bottom: 100px;
}
